<form action="/update" method="post">
    <table align="center" border>
      <tbody>
        <tr>
          <td>Nombre</td>
          <td><input type="text" value="<%= data.name %>" name="name" placeholder="Nombre"></td>
        </tr>
        <tr>
          <td>Dirección</td>
          <td><input type="text" value="<%= data.adress %>"  name="adress" placeholder="Dirección"></td>
        </tr>
        <tr>
          <td>Teléfono</td>
          <td><input type="text" value="<%= data.phone %>" name="phone" placeholder="Teléfono"></td>
        </tr>
        <tr>
          <td colspan="2"><button type="submit">Actualiza cliente</button></td>
        </tr>
      </tbody> 
    </table>
</form>