<%= console.log(data); %>

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <tittle>CRUD NODEJS Mysql</tittle>
</head>
<body>
 <table border align="center">
     <thead>
       <tr>
         <th>No.</th>
         <th>Nombre</th>
         <th>Direccion</th>
         <th>Telefono</th>
         <th>Acciones</th>
        </tr>
     </thead>
     	data
     </tbody>  

 </table>
</body>
</html>